<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio {% block title %}{% endblock %} </title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'home/index.css' %}">
</head>

<body>

    <header id="header">

        <nav id="menu-navegacion-principal">
            <a href="{% url 'home' %}"><img src="{% static 'home/img/logo.png' %}" alt="Logo web"
                    class="logo-header"></a>
            <ul class="menu menu-secciones">
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
            </ul>

            <ul class="menu menu-gestion-usuario">
                <li><a href="">Login</a></li>
                <li><a href="">Register</a></li>

                {% if user.is_authenticated %}
                <li><a href="">Logout</a></li>
                {% endif %}
            </ul>
        </nav>

    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer id="footer">

        <p>© 2024 - julio acuña - Todos los derechos reservados</p>

    </footer>


</body>

</html>