<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'home/index.css' %}">
</head>

<body>

    <header>

        <nav>
            <img src="{% static 'home/img/logo.png' %}" alt="Logo web" class="logo-header">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav>

    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>

    </footer>


</body>

</html>